<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type ="text/css">
    <link href="/stylesheets/createSnippet.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="pageWrapper">
      <div class="topBar">
        <div id="input_wrapper">
          <input id="title_input" type="text" placeholder="Enter a title for this snippet">
        </div>
        <div id="select_wrapper">
        <select id="lang_dropdown">
          <option value="javascript">Javascript</option>
          <option value="python">Python</option>  
        </select>
        </div>
        <div id="save_wrapper" class="topBarButton disabled"><div id="save">Save and Exit</div></div>
      </div>
      <div class="tag_bar"><input type="text" id="tags" placeholder="Please enter a comma seperated list of tags"></div>
      <div class="content">
        <div id="editor"></div>
      </div>
    </div>
    <script src="../javascripts/libs/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../javascripts/createSnippet.js"></script>
    <script>
     var editor = ace.edit("editor");
     core.init(editor);
    </script>
  </body>
</html>
