<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type ="text/css">
    <link href="/stylesheets/index.css" rel="stylesheet" type ="text/css">
  </head>
  <body>
    <div class="content">
       <div class="bar">
          <h1> &#123;&#123;Snip-It&#125;&#125;</h1> 
          <div class="button">
            <a href="/login">Login</a>
          </div>
          <div class="button">
            <a href="/signup">Sign up</a>
          </div>
      </div class="bar">
      <div class="fontIcon">&#9985;</div>
    </div>
  </body>
</html>
