<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  </body>
</html>
