html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin-bottom: 1rem;
}

.content {
  display: block;
  width: 100%;
  position: relative;
}

.bar {
  background: rgb(39,40,34);
  width: 100%;
  z-index: 100;
  padding: 1rem;
  position: relative;
}


.button {
  background-color: rgb(255,61,115);
  padding: 1rem;
  display: inline-block;
  margin: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(255,71,125);
}

input {
  background: transparent;
  color: rgb(253,151,31);
  border: none;
  border-bottom: 1px solid rgb(253,151,31);
  padding-bottom: .5rem;
  font-size:  1.8rem;
  font-family: monospace;
}

input:focus {
  outline: none;
}

.input_wrapper {
  margin-bottom: .5rem;
}

h1{
  color: 
}

.error {
  padding: .5rem;
  color: rgb(243,114,89);
}
